body{
  margin: 0;
  background-image:url("bg.jpg");
  background-size:cover;
  -webkit-user-select: none;
  cursor: default;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
#topbar
{
  height: 2.5vh;
  background-color: rgba(5, 7, 11, 0.57);
  margin: 0;
  color: rgb(231, 228, 230);
  z-index: 2;
  text-align: center;
}
#topbar span{
  font-size: 1.7vh;
  font-family: sans-serif;
  margin:0.2vh;
}
#bottom{
  width: 100vw;
  color: rgb(42, 42, 42);
  z-index: 2;
  position: absolute;
  bottom: 0;
}
#bottombar
{
  height: 4.5vh;
  width: 24vw;
  background-color: rgba(197, 197, 201, 0.96);
  color: rgb(42, 42, 42);
  z-index: 2;
  margin: 0 auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
a{
  position: absolute;
  bottom: 0.6vh;
  cursor: pointer;
}
a img{
  height: 8vh;
}
